body {
    background: #f6f6f6;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
img {
    vertical-align: bottom;
}

/************************************ HEADER ********************************/

header {
    img {
        width: 25px;
    }
    text-align: center;
    color: #fff;
    background-color: #1e5d69;

    .header-search {
        text-align: center;
        span {
            font-weight: 600;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .header-nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            a {
                display: block;
                text-align: center;
                padding: 10px;
                height: 20px;
                line-height: 20px;
                color: #fff;
                text-decoration: none;
                border: 2px solid rgba(255, 255, 255, 0);
                &:hover {
                    background-color: #fff;
                    color: #1e5d69;
                    transition: all ease 1s;
                }
            }
        }
    }

    .header-logo {
        text-align: center;
        span {
            font-weight: 600;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .header-logo {
            margin-left: 15px;
            display: flex;
        }
        display: flex;
        justify-content: space-between;

        img {
            margin-top: 20px;
        }

        .header-search {
            margin-right: 20px;
            display: flex;
        }

        .header-nav {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                a {
                    height: 40px;
                    line-height: 40px;
                    margin-left: 5px;
                }
            }
        }
    }
}

/******************************************** HERO *****************************/

#hero {
    h1 {
        color: #1e5d69;
        font-size: 30px;
        text-align: center;
    }
    .wrapper {
        width: 90%;
        .text {
            h3 {
                color: #1e5d69;
                text-align: center;
            }
            p {
                color: #8d8d8d;
            }
        }
        margin: 20px;
        .background {
            height: 350px;
            background: url("images/img-connect.jpg");
            background-repeat: no-repeat;
            background-position: center;

        }
    }
}
@media screen and (min-width: 1024px)  {
    #hero {
        margin-bottom: 100px;
        h1 {
            font-size: 40px;
            margin-top: 80px;
            margin-bottom: 80px;
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            .text {
                flex-basis: 60%;
                .par {
                    margin-bottom: 100px;
                }
            }

            .background {
                width: 600px;
                height: 350px;
                flex-basis: 40%;
                margin: auto;
            }
        }
    }
}

/******************************* MAIN ************************************/
.back {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.726)), url(../img/contact.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
main {
    background: url("images/img-bg-adventure.jpg");
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 250px;
    .skew {
        background: linear-gradient(to right, rgba(77, 148, 230, 0.897), rgba(208, 223, 236, 0.808));
        height: 100%;
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .article {
        max-width: 550px;
        display: inline-block;
        margin-bottom: 50px;
        img {
            width: 50px;
            text-align: center;
            margin: 40px;
        }
        background: #fff;
        h3 {
            text-align: center;
            color: #1e5d69;
        }
        p {
            color: #8d8d8d;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    h2 {
        color: #fff;
        text-align: center;
        padding: 40px;
    }
}

@media screen and (min-width: 1024px) {
    main {
        transform: skewY(-5deg);

        h2 {
            padding-top: 50px;
        }
        background-attachment: fixed;
        background-position: center;
        background-size: contain;
        height: 640px;

        .wrapper {
            transform: skewY(5deg);
            display: flex;
            justify-content: space-between;
            .article {
                flex-basis: 25%;
                margin: 20px;
            }
        }
    }
}

/********************************** TOURS ****************************/

#tours {
    margin: 100px auto;
    h2 {
        color: #1e5d69;
        padding: 50px;
    }
    background-color: #f6f6f6;
    text-align: center;
    .btn {
        padding: 20px;
        border-radius: 35px;
        color: #fff;
        background-color: #1e5d69;
        margin: 50px;
        &:hover {
            background-color: #1f8ca1;
            transition: all ease 0.7s;
            cursor: pointer;
        }
    }
    .wrapper {
        margin: 0px auto;
        text-align: center;
        .tour {
            .skew {
                height: 45px;
                transform: skewY(-4deg);
                transform-origin: 0px 0px;
                background-color: #fff;
                transition: all ease 1s;
            }
            .wrap {
                padding: 20px 50px;
            }
            box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.281);
            padding-bottom: 50px;
            background-color: #fff;
            transition: all ease 1s;
            margin-bottom: 50px;
            max-width: 450px;
            display: inline-block;

            &:hover {
                background-color: #1e5d69;
                color: #fff;
                transition: all ease 1s;
                p {
                    border-bottom: 1px solid #fff;
                }
                img {
                    filter: brightness(120%);
                }
                .skew {
                    background-color: #1e5d69;
                    transition: all ease 1s;
                }
            }
            img {
                max-width: 100%;
            }
            color: #1e5d69;
            p {
                border-bottom: 1px solid #1e5d69;
                padding-bottom: 5px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #tours {
        .wrapper {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            .tour {
                margin: 40px;
                width: 350px;
            }
        }
    }
}

/********************************** FOOTER ******************************/

footer {
    img {
        width: 25px;
    }
    text-align: center;
    .footer-top {
        background-color: #1e5d69;
        .footer-social {
            display: flex;
            justify-content: center;
            .social {
                background-color: #1f8ca1;
                border-radius: 100%;
                padding: 10px;
                margin: 20px;
                &:hover {
                    background-color: #0c353d;
                    cursor: pointer;
                    transition: all ease 0.7s;
                }
            }
        }
        .footer-nav {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                a {
                    display: block;
                    text-align: center;
                    padding: 10px;
                    height: 20px;
                    line-height: 20px;
                    color: #fff;
                    text-decoration: none;
                    border: 2px solid rgba(255, 255, 255, 0);
                    &:hover {
                        background-color: #fff;
                        color: #1e5d69;
                    }
                }
            }
        }
    }
}
    .footer-bottom {
        background-color: #0c353d;
        color: #fff;
        padding: 35px;

   
        a{
            text-decoration: none;
            color: #fff;
        }
    }

    @media screen and (min-width: 768px) {
        footer {
            p{
                display: inline;
               
            }
    
            .footer-bottom {
                display: flex;
                justify-content: space-between;
                padding: 15px;
                text-align: center;
            }

            .footer-top {
                .footer-nav {
                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        a {
                            margin: 15px;
                            &:hover {
                                border-radius: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

